<div class="test">
  <h3>Đây là component home</h3>
  <h4>Chào bạn {{name}}</h4>
  <h3>You are {{age}}</h3>
  <span *ngIf="age<18" class="underAge">You under 18 year olds</span>
  <br>
  <span *ngIf="age>=18" class="overAge">You are over 18 year olds</span>
  <br>
  <br>
  List vehicles:
  <div *ngFor="let vehicle of vehicles">
    <li>{{vehicle}}</li>
  </div>
  <br>
  <div>
    <select>
      <option *ngFor="let option of options">
        {{option}}
      </option>
    </select>
  </div>
  <br>
  <input type="text" [(ngModel)]="name" (ngModelChange)="onNameChange()"/>

  <button (click)="addAge()">Tăng tuổi</button>
</div>
